$font-family: 'Avenir', Helvetica, Arial, sans-serif;

html, body {
    background: #ffffff;
    font-family: $font-family;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.app {
    width: 90vw;
    height: 100%;
    color: #000000;
    border: 1px solid #696969;
    .title {
        margin-left: 20px;
    }
    pre {
        margin-top: 0;
        height: 3px;
    }
}

.container {
    width: 100%;
    font-family: $font-family;
    border-top: 1px solid #8d8d8d77;
    .log {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        overflow: auto;
    }
    .title {
        padding-left: 10px;
        font-size: 20px;
        color: #333;
        font-weight: bold;
    }
    .description {
        font-size: 17px;
        margin-top: -20px;
        padding-left: 31px;
        color: #9e9e9e;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .left-center {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
        margin-left: 32px;
    }
    .lang {
        margin-top: 0;
        appearance: auto;
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-right: 10px;
    }
    .styled-table {
        margin: auto;
        width: 95%;
        padding: 120px;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #FFFFFF;
        margin-bottom: 20px;
        text-align: center;
        .center {
            padding-left: 32px;
        }
        thead {
            background-color: #FAFAFA;
            th {
                text-align: left;
                align-items: left;
                font-size: 12px;
                padding: 12px 15px;
                padding-right: 20px;
            }
            .long-5 {
                width: 21.25%;
                padding-left: 20px;
            }
            .long-4 {
                width: 28.3%;
                padding-left: 20px;
            }
            .long-center-2 {
                justify-content: center;
                text-align: center;
                width: 50%;
            }
            .short {
                width: 15%;
                padding-left: 20px;
            }
        }
        tbody {
            tr {
                transition: background-color 0.5s ease;
                &:hover {
                    background-color: #ebebeb;
                }
            }
            .extra {
                padding-left: 10px;
                padding-right: -40px;
                padding-bottom: 20px;
                margin-top: -10px;
                color: #000;
                justify-content: left;
                width: 100%;
                display: flex;
                justify-content: space-between;

                input {
                    width: 80%;
                    margin-left: 0;
                }

                .plus {
                    
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .menu {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    width: 32%;

                    p {
                        font-size: 14px;
                    }
                }

                .edit {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    input {
                        margin-right: 3px;
                        margin-bottom: -2px;
                    }
                    .left {
                        margin-left: -20px;
                    }
                    .remove {
                        cursor: pointer;
                    }
                }
            }
            .save {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 20px;
                img {
                    cursor: pointer;
                }
            }
            .rule-none {
                background-color: #ffffff;
                &:hover {
                    background-color: #ffffff;
                }
            }
            .rule-none, .rule {
                td {
                    padding: 6px 8px;
                    border-top: 1px solid #ddd;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                    .select {
                        width: 100%;
                        padding: 8px;
                        border: 0px solid #fff;
                        background-color: #ffffff00;
                        appearance: auto;
                        cursor: pointer;
                        &:disabled {
                            background-color: #e9e9e9;
                        }
                    }
                    .to-select {
                        margin-top: 5px;
                        height: 22px;
                        background-color: #ffffff00;
                        appearance: auto;
                        cursor: pointer;
                        border: 1px solid #8d8d8d77;
                    }
                    .select-none {
                        appearance: none;
                    }
                    p {
                        margin-top: -4px;
                        font-size: 12px;
                        text-align: left;
                    }
                    .lefts {
                        margin-left: 10px;
                    }
                }
                .setting {
                    display: flex;
                    text-align: left;
                    align-items: left;
                    margin-left: 12px;
                    img {
                        width: 20px;
                        height: 20px;
                        padding-right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}